/*
  ## colors

  - Base : #007AB7
  - highlighted: #45A1CF
  - Complement: #E06D15
  - Chart
    - #0086AB
    - #42AAC7
    - #97D3E3  
*/  

html, body{
  margin :0;
  padding :0;
  font-size: 18px;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  color: #333;
  background-color: #fafafd;  
}
.container{
  margin: auto;
  padding: 0 3rem;
}

[data-layout=flex]{
  display: flex;
}
[data-layout=flex] .panel{
  margin-right: 2rem;
}

[data-role=warning]{
  color: white;
  background-color: #E06D15;
  margin:0;
  padding: .5rem 0; 
}
[data-role=worning] p{
  font-weight: bold;
  margin: 0;
  font-size: .88rem;
}

header{
  color: white;
  background-color: #333;
  margin-bottom: 3rem;
  padding: .75rem 0;
  border-bottom: 2px #eee solid;
}
h1{
  font-size: .88rem;
  margin: 0 1rem  0 0;
  display: inline-block;
  grid-column: 1;
}
header p{
  font-size: .88rem;
  display: inline-block;
  margin: 0;
  grid-column: 2/4;
}

[data-role=fighters]{
  flex-grow: 1;
}
[data-role=fixtures]{
  flex-grow: 2;
  min-width: 70%;
}

h2{
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

ul, ol{
  list-style: none;
  padding: 0;
}

.fighters{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 10px;
}
.fighter{
  display: block;
  padding: 0;
  margin-bottom: 4rem;
  margin-right: 4rem;
  flex-grow: 1;
  box-sizing: border-box;
}

.fighter span{
  display: block;
}
.fighter span[data-role=fighter-name]{
  border-bottom: dotted 1px #ccc;
  margin-bottom: 1rem;
}
.fighter span:last-child{
  margin-top: 1rem;
}

[data-role=match-start]{
  border: solid 1px #eee;
  color: white;
  background-color: #007AB7;
  text-decoration: none;
  padding: .4rem 1.5rem;
  border-radius: 4px;
  font-size: .88rem;
}

[data-role=match-start]:hover{
  background-color: #45A1CF;
}

[data-role=match-start]:active{
  box-shadow: inset 1px 1px 3px #666;
}

table{
  width: 100%;
}
td{
  text-align: center;
}
td,th{
  padding: .5rem 0;
}
thead tr{
  background-color: #ccc;
}
tbody tr:nth-child(even){
  background-color: #eee;
}

.hidden{
  display: none;
}

.stats{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;  
  margin-bottom: 4rem;
}

.stats  > div{
  display: inline-block; 
}

h3{
  font-size: 1rem;
  border-bottom: dotted 1px #999;
}

canvas{
  margin: auto;
}